<% if questions.count > 0 %>
  <table class="table table-striped table-hover" id="questions_table">
  <thead>
    <tr>
      <th>Questions</th>
      <th>Bumped</th>
      <th>Added</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% questions.each do | question | %>
    <% answers = question ? question.answers : [] %>
    <% links = question ? question.links : [] %>
    <tr>
      <td>
      <%= link_to 'Edit', '/questions/'+question.key, :class => 'btn btn-mini' %>
      <%= link_to question.name, '/questions/'+question.key %>
      <% if question.description %>
        <br />
        <div class="muted">
          <%= question.description %>
        </div>
      <% end %>
      <% unless links.empty? %>
        <ul>
          <% links.each do | link | %>
          <li><i class="icon-share-alt"></i> <%= link_to link.name_display, link.url %></li>
          <% end %>
        </ul>
      <% end %>
      <% unless answers.empty? %>
        <ul>
          <% answers.each do | answer | %>
          <li><%= answer.name %></li>
          <% end %>
        </ul>
      <% end %>
      </td>
      <td><%= question.bump_count if question.bump_count > 0%></td>
      <td class="nowrap"><small><%= question.created_at.localtime.strftime("%b %d, %Y")  %></small></td>
      <td class="nowrap">
        <%= link_to 'Bump!', "/questions/#{question.key}/bump", method: :post, class: 'btn btn-mini' %>
        <%= link_to 'Del', '/questions/'+question.key, method: :delete, :class => 'btn btn-mini btn-danger',
          data: { confirm: 'Delete - Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>