<h2>People</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td>
          <%= link_to 'Edit', "/people/#{person.key}/edit", :class => 'btn btn-mini' %>
          <%= link_to person.name, person %>
          <% if person.description %>
          <br />
          <div class="muted"><%= person.description %></div>
          <% end %>
        </td>
        <td></td>
        <td><%= link_to 'Del', "/people/#{person.key}", method: :delete, 
                data: { confirm: "Delete - '#{person.name}'?" }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: 'btn' %>
