<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :name, :class=> "answer" %><br />
    </div>
</div>

<div class="control-group">
    <%= f.label :description, class: "control-label" %>
  <div class="controls">
    <%= f.text_area :description, :class=> "answer", :rows => 5 %><br />
  </div>
</div>

<div class="control-group">
  <div class="actions controls">
    <%= f.submit %>
  </div>
</div>

<% end %>
