  <% action_items = project.action_items %>
  <% item_count = action_items.count %>
  <% link_count = project.links.count %>
  <% next_action = project.next_action %>
  <% time_elapsed = project.time_elapsed(action_items) %>
  <tr>
    <td class="span1 nowrap">
    <% if item_count > 0 %>
      [ <%= project.action_items_completed.count %> / <%= item_count %> ]
      <% if link_count > 0 %>
        <br />
        <span class="muted small"><%= link_count %> links</span>
      <% end %>
    <% end %>
    </td>
    <td class="span6" id="project-<%= project.key %>">
      <%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-mini '  %>
      <span class="area-<%= project.area %>"><%= link_to project.name, project_path(project) %></span>
      <% if next_action %>
        <br />
        <%= link_to 'Next Action:', action_item_path(next_action) %> <%= next_action.name %>
      <% end %>
    </td>
    <td>
      <%= render(partial: 'projects/status_buttons_'+project_status.to_s, locals: { project: project } ) %>
    </td>
    <td>
      <% if time_elapsed > 0 %>
        <%= time_elapsed %> h
      <% end %>
    </td>
    <td>
      <% if project.bump_count > 0 %>
        <%= project.bump_count %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
    <td><small><%= project.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td>
      <%= link_to 'Bump!', "/projects/#{project.key}/bump", method: :post, class: 'btn btn-mini' %>
      <%= link_to 'Destroy', '/projects/'+project.key, method: :delete, :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
