<h1>Projects</h1>

<%= render partial: 'new', locals: { } %>

<h3>Active</h3>
<table class="table table-hover">
<tbody>
<% @active_projects.each do |project| %>
  <%= render(partial: 'project', object: project, locals: { project_status: :active }) %>
<% end %>
</tbody>
</table>

<br />

<h3>Someday/Maybe</h3>
<table class="table table-hover">
<tbody>
<% @someday_projects.each do |project| %>
  <%= render(partial: 'project', object: project, locals: { project_status: :someday }) %>
<% end %>
</tbody>
</table>

<br />

<h3>Ideas/Hopper</h3>
<table class="table table-hover">
<tbody>
<% @idea_projects.each do |project| %>
  <%= render(partial: 'project', object: project, locals: { project_status: :idea }) %>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Project', new_project_path, :class => 'btn' %>
