<% content_for :title, "LF: #{@project.name}" %>

<%= link_to '< Projects', projects_path, :class => 'btn btn-mini '  %> &nbsp;
<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini '  %>
<h4><%= @project.name %></h4>

<dl class="dl-horizontal">
  <dt>URL:</dt>
  <dd>
    <% if @project.url and not @project.url.empty? %>
      <a href="<%= @project.url %>"><%= @project.url %></a>
    <% else %>
      -
    <% end %>
  </dd>
<% if !@project.description.nil? and !@project.description.empty? %>
  <dt>Description:</dt>
  <dd><%= raw(@project.description) %></dd>
<% end %>
  <dt>Complete:</dt>
  <dd><%= @completed_items.count %> / <%= @num_action_items_total %> action items</dd>
  <dt>Status:</dt>
  <dd><%= @project.status.capitalize %>
  <%= render(partial: 'projects/status_buttons_'+@project.status.to_s, locals: { project: @project } ) %>
  </dd>
  <dt>Area:</dt>
  <dd><%= @project.area.capitalize %></dd>
  <dt>Links:</dt>
  <dd><a href="#links_table"><%= @links.count %></a></dd>
  <dt>Created:</dt>
  <dd><%= @project.created_at.localtime.strftime("%b %d, %Y, %l:%M %P") %></dd>
  <dt>Bumped:</dt>
  <dd><%= @project.bump_count %> times</dd>
  
  <br />
  <dt>Elapsed Time:</dt>
  <dd><%= @elapsed_time_total %> hrs</dd>
</dl>

<%= render(partial: 'projects/goals_served', locals: { project: @project, goals_served: @goals_served } ) %>

<%= form_for(Question.new, :html => { :class => "form-inline inline form-nomargin"}) do |f| %>
  <%= f.text_field :name, :class => "question", :tabindex => 1 %>
  <%= f.hidden_field :parent_type, value: :project %>
  <%= f.hidden_field :parent_key, value: @project.key %>
  <%= f.submit 'Add Question', :class=> "question btn" %>
<% end %>
<%= render(partial: 'questions/list', locals: {questions: @questions}) %>

<% if @completed_items.count > 0 %> 
<div style="margin: 1em 0px;">
  <a href="javascript:void(0)" id="reveal_completed">
    <i class="icon-plus-sign"></i>
    <%= @completed_items.count %> completed items.
    <% if @elapsed_time_completed > 0 %>
    Elapsed Time: <%= @elapsed_time_completed %> hrs.
    <% end %>
  </a>
</div>
<% else %>
<br />
<% end %>

<%= form_for(ActionItem.new, :html => { :class => "form-inline form-nomargin"}) do |f| %>
  <%= f.text_field :name, :class => "action_item", :tabindex => 2, :autofocus => true %>
  <%= f.hidden_field :mywn_category, value: :someday %>
  <%= f.hidden_field :parent_type, value: :project %>
  <%= f.hidden_field :parent_key, value: @project.key %>
  <%= f.hidden_field :area, value: @project.area %>
  <%= f.submit 'Add Item', :class=> "action_item btn" %>
<% end %>

<div class="hidden" id="action_items_hidden">
<table class="table table-striped table-hover">
<thead>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Completed</th>
    <th>Elapsed</th>
    <th>Created</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @completed_items.each do |action_item| %>
  <% links = action_item.links %>
  <%= render(partial: 'action_item', locals: {action_item: action_item, links: links}) %>
<% end %>
</tbody>
</table>
</div>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th></th>
    <th>Action Item</th>
    <th></th>
    <th>Elapsed</th>
    <th>Created</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @action_items.each do |action_item| %>
  <% links = action_item.links %>
  <%= render(partial: 'action_item', locals: {action_item: action_item, links: links}) %>
<% end %>
</tbody>
</table>
<br />
<%= render(partial: 'web_links/list', locals: {parent_type: :project, parent_key: @project.key, links: @links}) %>