<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini '  %>
<h4><%= @project.name %></h4>

<dl class="dl-horizontal">
<% if !@project.description.nil? and !@project.description.empty? %>
  <dt>Description:</dt>
  <dd><%= @project.description %></dd>
<% end %>
  <dt>Status:</dt>
  <dd><%= @project.status.capitalize %></dd>
  <dt>Created:</dt>
  <dd><%= @project.created_at.localtime.strftime("%b %d, %Y, %l:%M %P") %></dd>
</dl>

<h5>Action Items</h5>

<%= form_for(ActionItem.new, :html => { :class => "form-inline inline"}) do |f| %>
    <%= f.text_field :name, :class => "action_item", :tabindex => 1 %>
    <%= f.hidden_field :mywn_category, value: :someday %>
    <%= f.hidden_field :project_key, value: @project.key %>
    <%= f.submit 'Add Item', :class=> "action_item btn" %>
<% end %>

<table class="table table-striped table-hover">
  <tbody>
<% @action_items.each do |action_item| %>
	<%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>