<p id="notice"><%= notice %></p>

<%= link_to '< Projects', projects_path, :class => 'btn btn-mini '  %> &nbsp;
<%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-mini '  %>
<h4><%= @project.name %></h4>

<dl class="dl-horizontal">
<% if !@project.description.nil? and !@project.description.empty? %>
  <dt>Description:</dt>
  <dd><%= @project.description %></dd>
<% end %>
  <dt>Status:</dt>
  <dd><%= @project.status.capitalize %></dd>
  <dt>Created:</dt>
  <dd><%= @project.created_at.localtime.strftime("%b %d, %Y, %l:%M %P") %></dd>
</dl>

<%= form_for(ActionItem.new, :html => { :class => "form-inline inline"}) do |f| %>
    <%= f.text_field :name, :class => "action_item", :tabindex => 1 %>
    <%= f.hidden_field :mywn_category, value: :someday %>
    <%= f.hidden_field :project_key, value: @project.key %>
    <%= f.submit 'Add Item', :class=> "action_item btn" %>
<% end %>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th></th>
    <th>Action Item</th>
    <th></th>
    <th>Created</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @action_items.each do |action_item| %>
	<%= render(partial: 'action_item', object: action_item) %>
<% end %>
</tbody>
</table>

<%= form_for(WebLink.new, :html => { :class => "form-inline inline"}) do |f| %>
    url <%= f.text_field :url, :class => "link", :tabindex => 2 %>
    name <%= f.text_field :name, :class => "link", :tabindex => 3 %>
    <%= f.hidden_field :project_key, value: @project.key %>
    <%= f.submit 'Add Link', :class=> "link btn" %>
<% end %>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Link</th>
    <th></th>
    <th>Added</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @links.each do | link | %>
	<%= render(partial: 'link', object: link) %>
<% end %>
</tbody>
</table>