<table class="table table-striped">
  <thead>
    <tr>
      <th><%= category_name %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% goals.each do |goal| %>
      <tr>
        <td>
          <%= link_to 'Edit', "/goals/#{goal.key}/edit", :class => 'btn btn-mini' %>
          <%= link_to goal.name, "/goals/#{goal.key}" %>
        </td>
        <td>
          <%= goal.bump_count if goal.bump_count > 0 %>
        </td>
        <td>
          <%= link_to 'Bump!', "/goals/#{goal.key}/bump", method: :post, class: 'btn btn-mini' %>
          <%= link_to 'Del', "/goals/#{goal.key}", method: :delete, data: { confirm: "Delete - '#{goal.name}?" }, 
                :class => 'btn btn-mini btn-danger' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

