<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group">
  <%= f.label :name, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class=> "action_item input-xxlarge" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :active, class: "control-label" %>
  <div class="controls">
    <%= f.check_box :active, :class=> "goal" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :accomplished, class: "control-label" %>
  <div class="controls">
    <%= f.check_box :accomplished, :class=> "goal" %>
  </div>
</div>

<div class="control-group">
    <%= f.label :description, class: "control-label" %>
  <div class="controls">
    <%= f.text_area :description, :class=> "action_item input-xxlarge" %><br />
  </div>
</div>

<div class="control-group">
  <div class="actions controls">
    <%= f.submit %>
  </div>
</div>
<% end %>
