  <tr>
    <td><%= check_box_tag action_item.key, '1', action_item.done, :class => 'action_item_checkbox' %></td>
    <td class="span6"><span id="task-<%= action_item.key %>"><%= link_to action_item.name, edit_action_item_path(action_item) %></td>
    <td>
      <%= link_to 'Critical', '/action_items/'+action_item.key+'/category/critical', method: :post, :class => 'btn btn-mini' %>
      <%= link_to 'Tomorrow', '/action_items/'+action_item.key+'/category/tomorrow', method: :post, :class => 'btn btn-mini' %>
      <%= link_to 'Opportunity', '/action_items/'+action_item.key+'/category/opportunity', method: :post, :class => 'btn btn-mini' %>
      <%= link_to 'Horizon', '/action_items/'+action_item.key+'/category/horizon', method: :post, :class => 'btn btn-mini' %>
      <%= link_to 'Someday', '/action_items/'+action_item.key+'/category/someday', method: :post, :class => 'btn btn-mini' %>
    </td>
    <td><small><%= action_item.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td><%= link_to 'Destroy', '/action_items/'+action_item.key, method: :delete, :class => 'btn btn-mini btn-danger',
      data: { confirm: 'Are you sure?' } %></td>
  </tr>