  <tr>
    <td><%= check_box_tag action_item.key, '1', action_item.done, :class => 'action_item_checkbox' %></td>
    <td class="span6">
      <%= link_to 'Edit', edit_action_item_path(action_item), :class => 'btn btn-mini' %>
      <% if action_item.parent_type == 'project' %>
        <span class="area-<%= action_item.area %>">
          [ <%= link_to 'proj', '/projects/'+action_item.parent_key %> ]
        </span>
      <% end %>
      <span id="task-<%= action_item.key %>" class="area-<%= action_item.area %>">
        <%= link_to action_item.name, '/action_items/'+action_item.key %>
      </span>
      <% if action_item.links.present? %>
        <ul>
        <% action_item.links.each do | link | %>
          <li><%= link_to link.name, link.url %></li>
        <% end %>
        </ul>
      <% end %>
      <% if action_item.description %>
      <br />
      <div class="muted">
        <%= action_item.description %>
      </div>
      <% end %>
    </td>
    <td>
    <%= render partial: 'action_items/action_item_category_buttons', locals: { action_item: action_item } %>
      <% if action_item.time_elapsed > 0 %>
      <div class="muted">
      Elapsed: <%= action_item.time_elapsed %> hrs
      </div>
      <% end %>
    </td>
    <td>
      <%= action_item.bump_count if action_item.bump_count > 0 %>
    </td>
    <td><small><%= action_item.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td>
      <%= link_to 'Bump!', "/action_items/#{action_item.key}/bump", method: :post, class: 'btn btn-mini' %>
      <%= link_to 'Destroy', '/action_items/'+action_item.key, method: :delete, :class => 'btn btn-mini btn-danger',
        data: { confirm: 'Delete - Are you sure?' } %>
    </td>
  </tr>