<%= render 'new' %>

<h3>Today - Critical</h3>

<table class="table table-striped">
  <tbody>
<% @critical_items.each do |action_item| %>
	<%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>
<br />

<h3>Today - Opportunity</h3>

<table class="table table-striped">
  <tbody>
<% @opportunity_items.each do |action_item| %>
  <tr>
    <%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>
<br />

<h3>Horizon</h3>

<table class="table table-striped">
  <tbody>
<% @horizon_items.each do |action_item| %>
  <%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>
<br />

<h3>Someday/Maybe</h3>

<table class="table table-striped">
  <tbody>
<% @someday_items.each do |action_item| %>
  <%= render(partial: 'action_item', object: action_item) %>
<% end %>
  </tbody>
</table>
<br />
<br />
<%= link_to 'New Action item', new_action_item_path, :class => 'btn' %>

