  <tr>
    <td>
      <%= link_to 'Edit', edit_thought_path(thought), :class => 'btn btn-mini' %></td>
    <td class="nowrap"><small><%= thought.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td>
      <% if thought.parent_type == 'project' %>
        <span class="area-<%= thought.area %>">[ <%= link_to 'proj', '/projects/'+thought.parent_key %> ]</span>
      <% end %>
      <div id="thought-<%= thought.key %>" style="width: 80%;"><%= auto_link(thought.name) %></div>
    </td>
  </tr>