  <tr>
    <td class="span6">
      <% if thought.parent_type == 'project' %>
        <span class="area-<%= thought.area %>">[ <%= link_to 'proj', '/projects/'+thought.parent_key %> ]</span>
      <% end %>
      <span id="thought-<%= thought.key %>"><%= link_to thought.name, edit_thought_path(thought) %></span>
    </td>
    <td><small><%= thought.created_at.localtime.strftime("%b %d, %y")  %></small></td>
    <td><%= link_to 'Destroy', '/thoughts/'+thought.key, method: :delete, :class => 'btn btn-mini btn-danger',
      data: { confirm: 'Are you sure?' } %></td>
  </tr>